[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rtemps"]
	path = rtemps
	url = https://github.com/bblodfon/rtemps
[submodule "usefun"]
	path = usefun
	url = https://github.com/bblodfon/usefun
